@import '../../styles/vars';

:local(.button) {
    padding: 13px 54px;
    height: 52px;

    background-color: $primary-color;
    box-sizing: border-box;
    cursor: pointer;

    color: #ffffff;

    line-height: 26px;

    border: {
        width: 1px;
        style: solid;
        color: $primary-color;
        radius: 26px;
    }

    font: {
        style: normal;
        weight: 500;
        size: 1rem;
    }

    text: {
        align: center;
        transform: uppercase;
    }

    &.transparent {
        background-color: transparent;
        box-shadow: 0px 0px 10px rgba(12, 151, 249, 0.15);

        color: $text-color;
    }

    &.squared {
        border-radius: 12px;
    }

    &.accent {
        color: $primary-color;
        background-color: #ffffff;
        border-color: #ffffff;
    }
}
