@import '../../styles/vars';

:local(input.text-input) {
    padding: 12px 16px;
    box-sizing: border-box;
    line-height: 18px;
    color: $text-color;

    border: {
        width: 2px;
        radius: 4px;
        style: solid;
        color: #E7E7F0;
    }

    font: {
        style: normal;
        weight: normal;
        size: 0.875rem;
    }

    &:focus {
        padding: 12px 16px;
        border-color: $primary-color;
    }

    &::-webkit-input-placeholder {
        color: $placeholder-color;
    }

    &::-moz-placeholder {
        color: $placeholder-color;
    }

    &:-ms-input-placeholder {
        color: $placeholder-color;
    }

    &:-moz-placeholder {
        color: $placeholder-color;
    }
}
